/* Fix for Jodit WYSIWYG list styling issues */
.jodit-wysiwyg ul,
.jodit-dialog__content ul {
list-style-type: disc;
margin: 0;
padding: 0 20px 10px;
}

.jodit-wysiwyg ul ul,
.jodit-dialog__content ul ul {
list-style-type: circle;
}

.jodit-wysiwyg ul ul ul,
.jodit-dialog__content ul ul ul {
list-style-type: square;
}

.jodit-wysiwyg ol,
.jodit-dialog__content ol {
list-style-type: decimal;
padding-left: 40px;
margin-top: 1em;
margin-bottom: 1em;
}

.jodit-wysiwyg ol ol,
.jodit-dialog__content ol ol {
margin-top: 0;
margin-bottom: 0;
}

.jodit-wysiwyg td,
.jodit-dialog__content td {
border: solid 1px;
}